:root {
    --bs-buttonInactive: #c5c5c5;
    --bs-buttonActive: #d4401f;
    --bs-white: white;
    --bs-tableHeader: #9d8a8a;
    --bs-tableChile: #c4c4c4;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7vh;
    margin-top: 5vh;
}

.navBar button {
    width: 12vw;
    height: 8vh;
    background-color: var(--bs-buttonInactive);
    border: 1px solid black;
    border-radius: 2vh;
}

.navBar button:hover {
    background-color: var(--bs-buttonActive);
    color: var(--bs-white);
}
.checked {
    background-color: var(--bs-buttonActive) !important;
    color: var(--bs-white);
}
.table {
    width: 70%;
    margin-left: 20%;
    margin-top: 4%;
    box-shadow: 5px 5px 7px black;
}
.tableHeader {
    background-color: var(--bs-tableHeader);
}
.tableChile {
    background-color: var(--bs-tableChile);
}
fieldset {
    margin-left: 35%;
    margin-top: 4%;
}
label {
    margin: 3vh;
    font-size: large;
}
.btn {
    margin-left: 20vh;
}
