*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif; 
}
:root{
    --color1:#D4401F;
    --color2:black;
    --color3:white;
}
/* Daily Sales Button */
#dailySales{
    width: 8em;
    height: 2.5em;
    color:  var(--color2);
    margin-top: 3em;
    margin-left: 5em;
    padding: 0.4em;
    border:0.1rem solid var(--color2);
    border-radius: 1em;
    font-size: 1.2em;
}
/* Monthly Sales Button */
#monthlySales{
    width: 8em;
    height: 2.5em;
    color:  var(--color2);
    margin-top: 3em;
    margin-left: 5em;
    padding: 0.4em;
    border:0.1rem solid var(--color2);
    border-radius: 1em;
    font-size: 1.2em;
}
/* Yearly Sales Button */
#yearlySales{
    width: 8em;
    height: 2.5em;
    color:  var(--color2);
    margin-top: 3em;
    margin-left: 5em;
    padding: 0.4em;
    border:0.1rem solid var(--color2);
    border-radius: 1em;
    font-size: 1.2em;
}    
/* Range Sales Button */
#rangeSales{
    width: 8em;
    height: 2.5em;
    color:  var(--color2);
    margin-top: 3em;
    margin-left: 5em;
    padding: 0.4em;
    border:0.1rem solid var(--color2);
    border-radius: 1em;
    font-size: 1.2em;
}
/*Btn Hover Color Change*/
#dailySales:hover,#monthlySales:hover,
#yearlySales:hover,#rangeSales:hover,
.active {
    background-color: #d4401f;
    color: white;
}
/*For Range Sale Search*/
#rangeSearch{
    width: 50em;
    height: 3em;
    margin-top: 2em;
    margin-left: 5em;
    display: flex;
    flex-direction: row;
}
#saleCaption{
    margin-top: 1em;
    margin-left: 2em;
}
.choice{
    display: flex;
    flex-direction: column;
}
/*For Start Range Search*/
.fromRangeCount{
    width: 15em;
    margin-left: 3em;
    border:0.1rem solid var(--color2);
    background-color: var(--color3);
    color: var(--color1);
    padding-top: 0.2em;
    padding-left: 1.3em;
    font-size: 1em;
}
/*For Between Symbol*/
#betweenSymbol{
    width: 1em;
    color: var(--color2);
    margin-left: 1em;
    padding-left:0.5em;
    font-size: 2em;
}
/*For End Range Search*/
.toRangeCount{
    width: 15em;
    margin-left: 3em;
    border:0.1rem solid var(--color2);
    background-color: var(--color3);
    color: var(--color1);
    padding-top: 0.2em;
    padding-left: 1.3em;
    font-size: 1em;
}
/*For Range Search Submit*/
#rangeSearchSubmit{
    width: 10em;
    margin-left: 3em;
    border-radius: 1.2em;
    background-color: var(--color1);
    color: var(--color3);
    padding: 0.2em;
    font-size: 1em;
}
/*  For Showing Chart Details*/
#lineChart{
    width: 75%;
    height: 80%;
    margin-top: 6em;
    margin-left:3em;
    display: flex;
    flex-direction: row;
}
#lineChart1{
    width: 75%;
    height: 80%;
    margin-top: 5em;
    margin-left:3em;
    display: flex;
    flex-direction: row;
}
#chart{
   display: inline-block;
   width: 65%;
   display: flex;
}
#chart1{
    display: inline-block;
    width: 65%;
    display: flex;
 }
 @media(max-width: 800px) {
    #lineChart,#lineChart1{
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }
    #dailySales,#monthlySales,
    #yearlySales,#rangeSales{
        width: 7.4em;
        height: 3em;
        margin-top: 3em;
        margin-left: 4em;
        font-size: 1em;
    }
    #rangeSearch{
        width: 11em;
        height: 12em;
        margin-left: 10em;
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
    }
    #betweenSymbol{
        margin-left:4.5em;
    }
    #rangeSearchSubmit{
       margin-top:2em;
       margin-left: 5.5em;
    }
    #saleCaption{
        margin-top: 1.5em;
    }
}