* {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.sidenav {
    width: 15vw;
    height: 100vh;
    background-color: var(--dashboardbg);
    position: fixed;
}

.adminli {
    list-style: none !important;
}
.buttons {
    margin-left: 10%;
    margin-top: 10%;
    width: 12vw;
    height: 7vh;
    font-size: calc(var(--fontsize1) + 0.5rem) !important;
    border-radius: 10px !important;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--white) !important;
    border: 1px solid var(--black) !important;
}
.buttons:hover,
.active {
    background-color: var(--btns) !important;
    color: var(--white) !important;
}
.logout {
    width: 10vw;
    height: 6vh;
    margin-left: 16%;
    margin-top: 15%;
    font-size: calc(var(--fontsize1) + 0.3rem) !important;
    border-radius: 10px !important;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--logout) !important;
    color: var(--white) !important;
}
