* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

:root {
    --primary-color: #ff470b;
    --secondary-color: #ff6600;
    --product-color: #FF0B1A;
    --btn-color: #FF280B;
    --bg-color: rgba(255, 255, 255, 0.2);
    --text-color: #ffffff;
    --text-color2: #000000;
    --bg2-color: black;
    --bg3-color: white;
    --coin-color: #FFD233;
    --coin-color: #ffd233;
    --coinRulebg: #ff0000;
    --fileicon-color: #ffffff;
    --cancelbtn-textcolor: #ff0000;
    --cancelbtn-color: #ffffff;
    --submitbtn-color: #ff0000;
    --submitbtn-textcolor: #ffffff;
}


/*Start Header*/

.headers {
    min-height: 100vh;
    background-image: url("/img/Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

marquee {
    background-color: #000000;
}


/*start navbar*/

.navs {
    background-color: var(--bg-color);
    font-size: 1.1rem;
}

.nav-buttons {
    background-color: var(--primary-color);
}

.line1,
.line2,
.line3 {
    width: 20px;
    height: 3px;
    margin: 5px;
    transition: all 0.4s;
}

.changes .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.changes .line2 {
    opacity: 0;
}

.changes .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.actives {
    border-bottom: 1px solid var(--primary-color);
}

.comapanynames {
    color: var(--text-color);
}

.profiles {
    font-size: 1.3rem;
}

.navs i {
    cursor: pointer;
}

#profileButton,
#cartButton,
.companys {
    display: block;
}

#cartButton {
    position: relative;
}

.count {
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    bottom: 70%;
    left: 90%;
    text-align: center;
    line-height: 25px;
}

@media (max-width: 1000px) {
    #profileButton,
    #cartButton,
    .companys {
        display: none;
    }
}


/*end navbar*/


/*
    * Create:zayar(2022/01/17) 
    * Update: 
    */


/*start Profile Alert box*/

#profileAlert {
    position: absolute;
    z-index: 999;
    width: 67vh;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.952);
    top: 100%;
    right: 0;
    display: none;
}

.profileAlertHeader {
    color: var(--primary-color);
}

.userProfile {
    margin-left: 17vh;
    margin-right: 17vh;
    font-weight: bold;
    font-size: 1.5rem;
}

.userProfileDiv {
    width: 10vh;
}

.profileAlertBody {
    width: 100%;
    height: 50vh;
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.editProfile {
    background-color: var(--text-color);
    color: var(--secondary-color);
}

.updatePassword {
    background-color: var(--primary-color);
    color: var(--text-color);
}

#back {
    cursor: pointer;
}

#back:hover {
    color: var(--primary-color) !important;
}

#logout {
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    #profileAlert {
        position: absolute;
        width: 55vw;
        margin-right: 20vw;
    }
    .userProfile {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2rem !important;
        width: 60vw !important;
    }
    .editProfile {
        font-size: 0.8rem !important;
    }
    .updatePassword {
        font-size: 0.8rem !important;
    }
    /* .userProfile {
        font-size: 1.2rem !important;
        width: 60vw !important;
    }
    #profileAlert {
        width: 65vw;
        margin-left: 20vw;
    }
    #profileAlert {
        left: 2vw !important;
    }
    .profileAlertBody {
        font-size: 1rem !important;
    }
    .userProfile {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .profileAlertHeader {
        margin-right: 10vw;
    } */
}


/*end profile alert */


/*
    * Create:zayar(2022/01/22) 
    * Update: 
    */


/*start inform Alert box*/

.informAlert {
    position: absolute;
    z-index: 999;
    width: 55vh;
    height: max-content;
    background-color: rgb(255, 255, 255);
    top: 15%;
    right: 18%;
    border-radius: 1.4vh;
    display: none;
}

#informButton {
    cursor: pointer;
}

.hiddenAlert {
    display: none;
}

#backInform {
    width: 5vw;
    height: 5vh;
    margin-left: 1vw;
    color: var(--primary-color);
    cursor: pointer;
}

.headerInform {
    margin: auto;
    width: max-content;
    gap: 6vw;
}

.infromTitle {
    cursor: pointer;
}

.alertButton {
    background-color: rgb(167, 175, 166);
    text-align: center;
    width: 7vw;
    margin-left: auto;
    color: white;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.forNews,
.forMessages,
.forTracks {
    height: 70%;
    width: 90%;
    margin: auto;
    gap: 2.5vh;
}

#forNews {
    display: none !important;
}

#forMessages {
    display: none !important;
}

#forTracks {
    display: none !important;
}

.news,
.messages,
.tracks {
    width: 100%;
    height: 15vh;
    border-radius: 1vh;
    background-color: rgb(189, 173, 158);
}

.news img {
    max-width: 22%;
    margin-right: auto;
    margin-left: 1vw;
}

.tracks img {
    max-width: 22%;
    margin-right: 1vw;
    margin-left: 1vw;
}

.newsColumnDiv {
    margin-right: 10vw;
}

@media (max-width: 720px) {
    .informAlert {
        position: absolute;
        z-index: 999;
        width: 45vh;
        height: max-content;
        background-color: rgb(255, 255, 255);
        top: 15%;
        right: 25vw;
        border-radius: 1.4vh;
        display: none;
    }
    .news,
    .messages,
    .tracks {
        width: 100%;
        height: fit-content;
        border-radius: 1vh;
        background-color: rgb(189, 173, 158);
    }
    .alertButton {
        background-color: rgb(167, 175, 166);
        text-align: center;
        width: 17vw;
        text-align: center;
        margin-left: auto;
        color: white;
    }
    .headerInform {
        gap: 4vw;
    }
}

.texts {
    color: var(--primary-color);
    margin-bottom: 0;
    cursor: pointer;
}

.texts:hover {
    color: var(--text-color);
}

.actives {
    border-bottom: 1px solid var(--primary-color);
}

.comapanynames {
    color: var(--text-color);
}


<<<<<<< HEAD
/*end navbar*/
=======
/*end navbar*/

/*End Header*/

/*End Header*/

>>>>>>> e20d634f71f5c7e67027910cb38e1086632d61ab
