* {
    margin: 0;
    padding: 0;
}
body {
    background: url("/img/UpdateProfile4.png");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    resize: both;
    background-color: #2d2d2d;
}
.headerEditProfile {
    position: absolute;
}
.headerUpdateProfile {
    position: relative;
}
.titleEditProfile {
    /* position: absolute;
    margin: auto !important;
    margin-top: 1rem;
    font-size: 2.8rem; */
    letter-spacing: 0.1rem;
    color: var(--primary-color);
}
.arrows {
    font-size: 2rem;
}
.titleUpdateProfile {
    position: absolute;
    margin-left: 40vw;
    margin-top: 3rem;
    font-size: 2.8rem;
    color: var(--primary-color);
}

.bodyEditProfile {
    position: absolute;
    width: 80%;
    height: 55vh;
    margin-top: 4rem;
    margin-left: 10%;
    flex-wrap: wrap;
}
.bodyUpdateProfile {
    position: relative;
    width: 80%;
    height: 55vh;
    margin-top: 9rem;
    margin-left: 30%;
    flex-wrap: wrap;
}
.updateButton {
    width: 25vw;
    height: 6vh;
    border-radius: 1.2vh;
    margin-left: 20%;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
}
.changePassword {
    width: 25vw;
    height: 6vh;
    border-radius: 1.2vh;
    margin-left: 2vw;
    background-color: white;
    font-size: 1rem;
    color: var(--primary-color);
}
.bodyEditProfile div label {
    color: white;
}
.titleEditProfile p {
    color: var(--primary-color);
}
.infos {
    height: 7vh;
}
.InputParent {
    width: 25vw;
    height: 6vh;
    background-color: rgba(107, 106, 97, 0.808);
    border-radius: 1.2vh;
}
.InputParent1 {
    width: 40vw;
    height: 6vh;
    background-color: rgba(107, 106, 97, 0.808);
    border-radius: 1.2vh;
}
.InputChild {
    width: 100%;
    height: 100%;
    background-color: rgba(44, 83, 255, 0);
    border-style: none;
    color: white;
    font-size: 1rem !important;
    padding-left: 3%;
}
.btnDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4%;
}
.editButton {
    margin-left: 23vw;
    margin-top: 1.5vh;
}
.bootstrap-tagsinput {
    background-color: transparent !important;
    border: none !important;
    outline: 0;
}
.bootstrap-tagsinput .tag {
    background-color: #ffffff;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}
#favType {
    height: fit-content !important;
}
#favType2 {
    height: fit-content !important;
    min-height: 7vh !important;
}
/* edit profile*/
@media (max-width: 650px) {
    .titleEditProfile {
        position: absolute;
        margin-left: 36vw;
        margin-top: 7rem;
        font-size: 1.5rem;
    }
    .titleUpdateProfile {
        position: absolute;
        margin-left: 30vw;
        margin-top: 5rem;
        font-size: 1.7rem;
    }
    .bodyEditProfile {
        flex-direction: column !important;
        margin-top: 11rem;
        flex-wrap: nowrap;
        margin-left: 10%;
        width: 80%;
        height: 70%;
    }
    .bodyUpdateProfile {
        flex-direction: column !important;
        margin-top: 11rem;
        flex-wrap: nowrap;
        margin-left: 10%;
        width: 80%;
        height: 70%;
    }
    .InputParent {
        width: 90%;
        height: 80%;
        column-gap: 4%;
        font-size: 0.8rem !important;
    }
    .InputParent1 {
        width: 90%;
        height: 80%;
        column-gap: 4%;
        font-size: 0.8rem !important;
    }
    .updateButton {
        width: 100%;
        height: 6vh;
        background-color: var(--primary-color);
        color: white;
        font-size: 0.8rem;
        font-weight: 500;
        margin-left: 2%;
    }
    .changePassword {
        width: 100%;
        height: 6vh;
        background-color: white;
        color: var(--primary-color);
        font-size: 0.8rem;
        font-weight: 500;
    }
    .editButton {
        margin-left: 20vw;
        margin-top: 1.5vh;
    }
    .InputParent,
    .InputParent1,
    .InputChild {
        font-size: 0.5rem !important;
    }
}
@media (max-width: 300px) {
    .changePassword,
    .updateButton {
        height: 7vh;
        font-size: 0.5rem;
    }
    .titleEditProfile {
        margin-left: 20vw;
        margin-top: 7rem;
        font-size: 1rem;
    }
}
/* changePassword */
.alertBox {
    width: 40vw;
    height: 60vh;
    background-color: black;
    position: absolute;
    bottom: 20%;
    margin: 0;
    border-radius: 1vh;
    visibility: hidden;
}
.hide {
    display: none;
}
.alertUpdate {
    margin-top: 1vh;
    margin-left: 10%;
    position: absolute;
    height: 38vh;
    width: 80%;
    background-color: black;
}
.InputTitle {
    position: absolute;
    background-color: black;
    color: var(--primary-color);
    margin-bottom: 40vh;
    margin-left: 4vw;
    font-size: 1rem;
    text-align: center;
}
.infos1 {
    margin-bottom: 6vh;
}
.InputParentAlert {
    width: 50vw;
    height: 7vh;
    background-color: rgba(126, 124, 118, 0);
    border-radius: 1.2vh;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}
.InputChild1 {
    width: 100%;
    height: 100%;
    background-color: rgba(44, 83, 255, 0) !important;
    border-style: none;
    padding-left: 3%;
    padding-top: 2%;
    color: white !important;
    font-size: 1.2rem;
}
.errorPassword {
    position: absolute;
    margin-right: 0.5rem;
    margin-top: 0.7rem;
}
.updateButtonAlert {
    width: 30vw;
    height: 6vh;
    border-radius: 1.2vh;
    margin-left: 5vw;
    background-color: var(--primary-color);
    color: white;
    margin-top: 40vh;
    font-size: larger;
}
#new {
    margin-top: 26vh !important;
    width: 17vw !important;
    height: 1rem;
}
#confirm {
    margin-top: 52vh !important;
    width: 20vw !important;
    height: 1rem;
}
#old {
    width: 17vw !important;
    height: 1rem;
}
@media (max-width: 850px) {
    #confirm {
        width: 60% !important;
    }
    .InputTitle {
        font-size: 0.9rem !important;
    }
    .alertUpdate {
        height: 30vh;
        width: 90%;
        margin-top: 12%;
        margin-left: 5%;
    }
    .InputParentAlert {
        width: 80vw;
    }
    .InputChild1 {
        font-size: 1rem !important;
    }
}
@media (max-width: 720px) {
    .alertBox {
        width: 70%;
        height: 60vh;
        margin-left: 15vw;
    }
    .alertUpdate {
        margin-left: 5%;
        height: 28vh;
        width: 90%;
        margin-top: 16%;
    }
    .InputTitle {
        position: absolute;
        font-size: 0.8rem !important;
        text-align: center;
    }
    .updateButtonAlert {
        width: 80%;
        height: 5vh;
        margin-top: 42vh;
        margin-left: 10%;
        font-size: 0.8rem;
        text-align: center;
    }
    #new {
        margin-left: 12%;
        width: 40% !important;
    }
    #confirm {
        width: 65% !important;
        margin-left: 12% !important;
    }
    #old {
        margin-left: 12%;
        width: 40% !important;
    }
    .InputChild1 {
        font-size: 0.8rem !important;
    }
}
@media (max-width: 400px) {
    .alertUpdate {
        width: 90%;
        height: 32vh;
        margin-top: 23%;
        margin-left: 5%;
    }
    .updateButtonAlert {
        width: 80%;
        font-size: 0.5rem;
        margin-left: 10%;
    }
    .InputChild1 {
        font-size: 0.5rem !important;
    }
    #new {
        margin-left: 12%;
        width: 80% !important;
    }
    #confirm {
        width: 80% !important;
        margin-left: 12% !important;
    }
    #old {
        margin-left: 12%;
        width: 80% !important;
    }
    .InputParentAlert {
        width: 90vw;
    }
    .InputTitle {
        font-size: 0.8rem !important;
    }
}
@media (max-width: 200px) {
    .InputTitle {
        font-size: 0.5rem !important;
    }
}
