* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7vh;
    margin-top: 5vh;
}

.navBar button {
    width: 12vw;
    height: 8vh;
    background-color: #c5c5c5;
    border: 1px solid black;
    border-radius: 2vh;
}

.navBar button:hover {
    background-color: #d4401f;
    color: white;
}
.checked {
    background-color: #d4401f !important;
    color: white;
}
.adminAddForm {
    margin-left: 28%;
    margin-top: 4%;
}

.formHeader {
    font-weight: bold;
    font-size: 3.5vh;
}
.adminAddForm input {
    width: 50%;
}

.adminAddForm select {
    width: 15%;
}
.addadmin {
    margin-top: 5vh;
    width: 18%;
    height: 10vh;
    background-color: #d4401f;
    border: 1px solid black;
    color: white;
    border-radius: 2vh;
}
.moblieNav {
    display: none;
}
.mobileNavShow {
    position: absolute;
    right: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40vh;
    gap: 2vh;
    background-color: #867d7d;
    border-radius: 1vh;
    visibility: hidden;
}
@media only screen and (max-width: 720px) {
    .navBar {
        display: none;
    }
    .moblieNav {
        display: block;
        transform: scale(2);
        float: right;
        margin-right: 8vh;
        background-color: #d4401f;
        height: 3vh;
        width: 3vw;
        text-align: center;
        border-radius: 1vh;
        cursor: pointer;
    }
    .moblieNav:hover {
        background-color: #e24825;
        color: white;
    }
    .adminAddForm {
        margin-top: 17.7vh;
    }

    .cross {
        margin-left: 80%;
        transform: scale(2);
        color: black;
        cursor: pointer;
    }
    .mobileNavShow button {
        width: 17vw;
        height: 8vh;
        background-color: #c5c5c5;
        border: 1px solid black;
        border-radius: 2vh;
    }
    .mobileNavShow button:hover {
        background-color: #d4401f;
        color: white;
    }
}
