* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FF470B;
    --secondary-color: #ff6600;
    --bg-color: rgba(255, 255, 255, 0.2);
    --text-color: #FFFFFF;
    --bg2-color: black;
}