/*Start Header*/

.headers {
    min-height: 100vh;
    background-image: url('/img/Home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*start navbar*/

.navs {
    background-color: var(--bg-color);
    font-size: 1.1rem;
    /* text-shadow: 0px 0px 8px silver; */
}

.texts {
    color: var(--primary-color);
}

.comapanynames {
    color: var(--text-color);
}


/*end navbar*/


/*start carousel*/

.carousels {
    min-height: 100%;
}

.items {
    min-height: 85vh;
}

.abouts {
    background-color: red;
}

.menuphotos {
    background-color: blue;
}

.tastes {
    margin-left: 15%;
    margin-bottom: 10%;
    color: var(--text-color);
}

.delivery-infos {
    margin-left: 40%;
    color: var(--primary-color);
}


/*end carousel*/

@media(max-width: 720px) {
    .companys {
        display: none;
    }
    .menus {
        max-width: 100px;
    }
}


/*End Header*/


/*Start Welcome Section*/

.welcomes {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/img/bg1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcometexts,
.companyinfos {
    color: var(--text-color);
}

.companyinfos {
    max-width: 70%;
    text-align: justify;
    margin-top: 7%;
    position: relative;
}

.falefts {
    font-size: 2.5rem;
    position: absolute;
    right: 100%;
    bottom: 100%;
}

.farights {
    font-size: 2.5rem;
    position: absolute;
    top: 100%;
    left: 100%;
}


/*End Welcome Section*/


/*Start Best Seller Item Section*/

.best-items,
.recommanded-items {
    min-height: 100vh;
    background-image: url('/img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sellers {
    min-width: 95%;
    background: linear-gradient( 120deg, rgba(0, 0, 0, 1)30%, rgba(245, 0, 0, 0.5) 60%);
    border-radius: 20px;
    position: relative;
}

.seller-headers {
    width: auto;
    background-color: var(--bg2-color);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    display: inline;
    float: none !important;
    margin-left: 10%;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    letter-spacing: 2px;
}

.recommands {
    min-width: 95%;
    background: linear-gradient( 120deg, rgba(0, 0, 0, 1) 30%, rgba(245, 0, 0, 0.5) 60%);
    border-radius: 20px;
    position: relative;
}


/* .seller-headers {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 1);
    padding: 0 10px 0 10px;
    position: absolute;
    left: 15vw;
    bottom: 70vh;
} */


/*End Best Seller Item Section*/